# =====================
# DATA FILES
# =====================
data/
*.parquet
*.csv
*.xlsx

# =====================
# PYTHON
# =====================
__pycache__/
*.pyc
*.pyo
*.pyd

# =====================
# JUPYTER
# =====================
.ipynb_checkpoints/

# =====================
# ENV / VENV
# =====================
.env
.venv
venv/

# =====================
# IDE
# =====================
.vscode/
.idea/

# =====================
# OS FILES
# =====================
.DS_Store
Thumbs.db

# =====================
# LOGS
# =====================
*.log

# =====================
# MODEL FILES (optional)
# =====================
*.pkl
*.joblib
